h1{background-color: rgb(255, 111, 0); /* Cor do fundo de h1 */
    font-family:'Segoe UI', Roboto; /* Fonte do texto */
    font-size: 20pt; /* Tamanho da fonte */
    text-align: center; /* Alinhamento da fonte */
    color: yellow; /* Cor da fonte */
}

body{background-color: black; /* Cor de fundo do corpo */
}

a{background-color: white; /* Cor de fundo do primeiro link */
}

#a1{background-color: blue; /* Cor de fundo do segundo link */
}

.paragraph{color: blueviolet; /* Cor do texto da classe "paragraph" */
    background-color: white; /* Cor de fundo da classe *** */
    text-align: center; /* Alinhamento da fonte da clase *** */
}
